{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest",
    "no-restricted-imports": [
      "error",
      {
        "patterns": [".*"]
      }
    ]
  },
  "env": {
    "es6": true
  },
  "globals": {
    "cy": "readonly"
  },
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "no-restricted-imports": "off"
      }
    }
  ]
}
